<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
</head>

<body>
    <nav class="sidebar">
        <div class="sidebar-top-wrapper">
            <div class="sidebar-top">
                <a href="#dashboard" class="logo__wrapper">
                    <img src="~/lib/image/logo.png" alt="Logo" class="logo-small">
                    <span class="hide company-name">
                        Apple Store
                    </span>
                </a>
            </div>
            <button class="expand-btn" type="button" title="Close Sidebar" id="close sidebar">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00979 2.72L10.3565 7.06667C10.8698 7.58 10.8698 8.42 10.3565 8.93333L6.00979 13.28"
                        stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="sidebar-links-wrapper">
            <div class="sidebar-links">
                <h2>Product</h2>
                <div class="divider"></div>
                <ul>
                    <li>
                        <a asp-controller="Product" asp-action="GetProducts" title="SmartPhone">
                            <svg version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 26 30"
                                fill="none" xml:space="preserve" fill="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path class="st0" d="M15,3v1.3C15,5.2,14.2,6,13.3,6h-2.6C9.8,6,9,5.2,9,4.3V3">
                                    </path>
                                    <path class="st0"
                                        d="M19,7V5c0-1.1-0.9-2-2-2H7C5.9,3,5,3.9,5,5v22c0,1.1,0.9,2,2,2h10c1.1,0,2-0.9,2-2v-2">
                                    </path>
                                    <circle class="st0" cx="20" cy="15" r="4"></circle>
                                    <path class="st0"
                                        d="M24.2,16.4l2.1,2.1c0.8,0.8,0.8,2.1,0,2.8l0,0c-0.8,0.8-2.1,0.8-2.8,0l-2.1-2.1">
                                    </path>
                                    <line class="st0" x1="9" y1="25" x2="15" y2="25"></line>
                                </g>
                            </svg>
                            <span class="link hide">SmartPhone</span>
                        </a>
                    </li>
                </ul>

                <h2>Cart</h2>
                <div class="divider"></div>
                <ul>
                    <li>
                        <a asp-controller="Cart" asp-action="Index" title="Cart">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
                                fill="none" stroke-linecap="round" viewBox="0 0 22 22" stroke="currentColor"
                                class="icon">
                                <circle r="1" cy="21" cx="9"></circle>
                                <circle r="1" cy="21" cx="20"></circle>
                                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                            </svg>
                            <span class="link hide">Cart</span>
                        </a>
                    </li>
                </ul>

                <h2>Ordered</h2>
                <div class="divider"></div>
                <ul>
                    <li>
                        <a asp-controller="Order" asp-action="Index" title="Order">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
                                fill="none" stroke-linecap="round" viewBox="0 0 22 22" stroke="currentColor"
                                class="icon">
                                <circle r="1" cy="21" cx="9"></circle>
                                <circle r="1" cy="21" cx="20"></circle>
                                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                            </svg>
                            <span class="link hide">Order</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="divider"></div>
        <!-- Login Partial Section -->
        @await Html.PartialAsync("_LoginPartial")
    </nav>
    <main id="main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer class="border-top footer text-muted">
            <div class="container">
                <small>&copy;2024 Ecommerce-MVC-ASP.NET-C# - Email: leh23211213@gmail.com</small>
            </div>
        </footer>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
