@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@using src.Data.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var loginPartialViewModel = new src.Models.LoginPartialViewModel
                {
                    UserName = UserManager.GetUserName(User),
                    UserEmail = UserManager.GetUserName(User)
                };

    <div class="sidebar__profile">
        <div class="avatar__wrapper">
            <img src="~/lib/image/profile-icon.png" class="avatar">
            <div class="online__status"></div>
        </div>

        <div class="avatar__name hide">
            <span key="t-fullname" class="user-name"> @loginPartialViewModel.UserName </span>
            <span class="email"> @loginPartialViewModel.UserEmail </span>
        </div>

        <div class="menu hide">
            <form asp-area="Account" asp-controller="Logout" asp-action="Logout" method="post"
                asp-route-returnUrl="~/Account/Login" id="logoutForm">
                <img id="logoutImage" src="~/lib/image/logout-icon.png" alt="Logout" style="border-radius: 4px;" width="40"
                    height="40">
            </form>
        </div>

        <script>
            document.getElementById("logoutImage").addEventListener("click", function () {
                document.getElementById("logoutForm").submit();
            });
        </script>
    </div>
}
