*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  /* Font sizes  */
  --bigF: 3.6rem;
  --midF: 1.8rem;
  --smallF: 1.6rem;
  --lightF: 1.4rem;

  --padding: clamp(1rem, 4vw, 2rem);

  /* Colors */
  --textC: rgb(59, 59, 59);
  --textC2: black;

  --textC: hsl(216, 12%, 92%);
  --textC2: white;

  --accentC: hsl(225, 39%, 24%);
  --accentCT: hsl(225, 38%, 29%);
  --accentC2: hsl(206, 48%, 51%);
  --accentC3: hsl(223, 22%, 19%);
  --accentCO: linear-gradient(
    hsla(0, 0%, 0%, 0.3),
    hsla(0, 0%, 0%, 0.6),
    rgba(0, 0, 0, 0.9)
  );

  --bgC: hsl(216, 12%, 92%);
  --bgC: hsl(0, 0%, 0%);
  --bgC2: hsl(0, 2%, 11%);

  --primary: #3ECF8E;
  --primary-dark: #37996B;
  --primary-darker: #317F5A;
  --headline-color: #F9F9F9;
  --text-color: #7E7E7E;
  --bg: #1C1C1C;
  --footer-bg: #161616;
  --secondary: #2E2E2E;
  --footer-border: #3E3E3E;
  --gray-border-hover: #505050;
  --gray-menu-button: #7E7E7E;
  --gray-menu-button-hover: #232323;
  --navbar-height: 64px;
  --gray-text-hover: #8F8F8F;
  --gray-icon: #A0A0A0;
  --footer-width: 64rem;
}

html {
    font-size: 14px;
}

body {
    font-family: "Roboto", Helvetica,'Open Sans';
    background-color: var(--bgC);
    font-size: 16px;
    height: 100%;
    color: var(--textC);
    overflow-x: hidden;
    scrollbar-width: 10px;
    
}

/* Global Properties  */
body::-webkit-scrollbar {
    cursor: pointer;
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(87, 175, 76, 0.3);
  }
  
  body::-webkit-scrollbar-thumb {
    /* border-radius: 1em; */
    background-color: var(--accentC2);
  }

h1 {
  font-size: var(--bigF);
  color: var(--textC2);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: var(--midF);
  color: var(--textC2);
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 2rem;
}

p {
  font-size: var(--smallF);
  color: var(--textC);
  font-weight: 300;
  line-height: 1.6;
  max-width: 60ch;
}

a {
  font-size: var(--lightF);
  font-weight: 300;
  text-decoration: none;
  color: var(--textC);
}

.primary-title span {
  position: relative;
  z-index: 1;
}

.primary-title span::after {
  content: "";
  width: calc(100% + 0.2em);
  height: 0.2em;
  background-color: var(--accentC2);

  position: absolute;
  bottom: 0.15em;
  left: -0.1em;
  z-index: -1;
}

li {
  list-style: none;
}

.icon {
  height: 20px;
  filter: invert(1);
}

.icon:hover {
  filter: invert(77%) sepia(36%) saturate(6017%) hue-rotate(179deg)
    brightness(78%) contrast(87%);
  transition: 0.2s ease-in-out;
}

  .logo {
    height: 30px;
    margin-right: 20px;
  }


                      /* Top heading section */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 98;
  transition: background-color 1s ease;
}

.nav-links,
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: none;
}

.nav-list {
  width: 100%;
}

.nav-link {
  padding: 0 1rem;
}

.nav-link:hover {
  color: hsl(206, 48%, 51%);
  transition: 0.2s ease-in-out;
}

#toggle-nav-checkbox {
  display: none;
}

.container {
    padding: 10rem var(--padding);
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #dfceff;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #6a32db;
  }
  
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #6a32db;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #dfceff;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.95);
  }
  
  
                                          /* background  */
.background {
    padding-bottom: 0;
    flex-direction: row;
    background: var(--accentCO), url("../lib/image/CoverPage/eCommerceMVC.png") center/cover; 
    background-attachment: fixed;
    min-width: 100vw;
    min-height: 100vh;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

                          /* Features  */
.features {
  width: 100vw;
  max-width: 1200px;
}

.collection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.features .article {
  width: 100%;
  max-width: 500px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;

  border-radius: 5px;
  background-color: var(--accentC3);
  transition: all 0.2s linear;
  cursor: pointer;

  position: relative;
}

.features .article::after {
  content: "";
  height: 220%;
  width: 120%;
  background-color: var(--bgC2);
  transform: rotate(45deg);
  position: absolute;
  transition: all 0.4s ease-in-out;
  left: 100%;
  top: 100%;
  z-index: 1;
}

.features .article:hover {
  background-color: transparent;
}
.features .article:hover::after {
  left: 0;
  top: -50%;
  background-color: var(--accentC3);
}

.feature-details {
  padding: 30px;
  z-index: 2;
}

.feature-img {
  width: 200%;
  z-index: 2;
}

                  /* Footer  */
#footer {
  background-color: var(--footer-bg);
  display: flex; 
  justify-content: center;
}

.footer.container {
  min-height: auto;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
  padding-top: 2rem;
  gap: 40px;
  flex-wrap: wrap;

}

.footer a,
.footer {
  font-size: var(--smallF);
}

.copyright {
  width: 50%;
  text-align: center;
}

              /* columns with links */

.link-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  flex-grow: 1;
}

.link-columns ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  font-weight: 600;
}

.link-columns ul a {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.link-columns ul a:hover {
  color: var(--headline-color);
}

.link-columns h3 {
  color: var(--headline-color);
  margin-bottom: 1.5rem;
}

                  /*? socials */
.social-wrapper {
  display: flex;
  gap: 0.5rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.social-links svg {
  width: 2.5rem;
  height: 2.5rem;
  stroke: var(--text-color);
  transition: all 0.2s ease-in-out;
}

#contact-us {
  margin-bottom: 1.5rem;
  width: 14rem;
}

.social-links ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  list-style-type: none;
}

/*? Footer bottom */

.footer-bottom {
  margin-top: 8rem;
  width: 100%;
  color: var(--text-color);
}

.footer-bottom-wrapper {
  max-width: var(--footer-width);
  margin: 0 auto;
  width: 100%;
  padding: 2.5rem 1rem;
  border-top: 1px solid var(--footer-border);
}

.footer-bottom small {
  font-size: 1rem;
  display: inline;
  white-space: nowrap;
}

.footer-bottom>small {
  font-size: 1rem;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .link-columns>section {
      min-width: auto;
  }
}

                    /* Media Query For Tablet */
@media (max-width: 768px) {
  /* Header  */
  .nav-list {
    /* display: none; */
  position: absolute;
  top: -600%;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bgC);
  text-align: center;

  width: 100vw;
  z-index: 99;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  padding-bottom: 2rem;
  padding-top: 7rem;
  }

  .brand{
  z-index: 100;
  }
  .nav-links.extra {
  margin-top: 4rem;
  }

  #toggle-nav-checkbox:checked ~ .nav-list {
  top: -2rem;
  opacity: 1;
  }
  /* Feature  */
  .features .article {
    flex-wrap: wrap;
  }
  /* get-involved */
}

@media (max-width: 370px) {
    .nav-links {
      flex-direction: column;
    }
  
    /* Getinvolved  */
    .get-involved .article {
      min-width: 90%;
    }
  }
  
@media (max-width: 642px) {
    .copyright {
      width: 100%;
    }
    .footer.container {
      text-align: center;
      align-items: center;
      justify-content: center;
    }
}

