/* Thiết lập font-size cho html */
:root {
  --primary-color: #191919;
  --primary: #408CF9;
  --white: #FFFFFF;
  --sidebar-hover: #c9c9c9;
  --sidebar-bg: #FFFFFF;
  --bg: #EFEFEF;
  --text-link: #141B34;
  --expand-button: #408CF9;
  --logout: #FA7575;
  --headline-text: #546471;
  --text: #141B34;
  --divider-bg: var(--bg);
  --shadow-color: #E9E6E4;
  --shadow: 0px 0px 0px 1.4px var(--shadow-color),
    0px 0px 2.8px 0px var(--shadow-color);
}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100%;
}

/* Thiết lập font-size cho html khi màn hình có độ rộng lớn hơn hoặc bằng 768px */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

                                        /* sidebar */ 
.sidebar {
  position: relative;
  background-color: #f5f5f5;
  max-width: 18rem;
  min-width: 6rem;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 1rem;
  user-select: none;
  flex-direction: column;
  display: flex;
  transition: max-width 0.2s ease-in-out;
}

.sidebar h2 {
  color: var(--headline-text);
  font-size: 1rem;
  margin-top: 1rem;
  line-height: 1.5rem;
}

body.collapsed .sidebar h2 {
  display: none;
}

body.collapsed .sidebar {
  max-width: 5rem;
  display: flex;
}

body.collapsed .hide {
  position: absolute;
  visibility: hidden;
}

body.collapsed .sidebar-links li a {
  justify-content: center; /* Center the icons */
}

body.collapsed .expand-btn svg {
  transform: rotate(-360deg);
}

/*? sidebar top */

.sidebar-top {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 4rem;
  padding: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.logo__wrapper {
  display: flex;
  align-items: center;
  color: var(--text-link);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.35rem;
  gap: 0.5rem;
}

.logo-small {
  height: 3rem;
  width: 3rem;
  border-radius: 0.4rem;
  padding: 0.25rem;
  overflow: hidden;
  object-fit: cover;
}

.company-name {
  white-space: nowrap;
}



/*? Expand button */
.expand-btn {
  position: absolute;
  display: grid;
  place-items: center;
  cursor: pointer;
  background: var(--sidebar-bg);
  z-index: 2;
  box-shadow: var(--shadow);
  right: -1.2rem;
  top: 1.40rem;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
}

.expand-btn svg {
  transform: rotate(-180deg);
  stroke: var(--text-link);
  width: 1rem;
  height: 1rem;
}
                                          /*? menu links */
.sidebar-links-wrapper {
  overflow: hidden;
  padding: 0.5rem;
  position: relative;
}

body.collapsed .sidebar-links-wrapper {
  overflow: hidden;
}

.sidebar-links ul {
  list-style-type: none;
  display: flex;
  row-gap: 0.5rem;
  flex-direction: column;
  padding: 0; 
}

.sidebar-links li {
  color: var(--text-link);
  min-width: 3rem;
}

.sidebar-links li svg {
  stroke: var(--text-link);
  width: 1.75rem;
  height: 1.75rem;
  min-width: 1.75rem;
}

.sidebar-links li a:hover {
  background: var(--sidebar-hover);
}

.sidebar-links li a {
  color: var(--text-link);
  width: 100%;
  padding: 0 0.6rem;
  font-size: 1.25rem;
  display: flex;
  gap: 0.75rem;
  border-radius: 0.75rem;
  justify-content: start;
  align-items: center;
  min-height: 3.25rem;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
}

.sidebar-links li a .link {
  overflow: hidden;
  white-space: nowrap;
  animation: fadeIn 0.2s ease-in-out;
}

.divider {
  display: none;
}

body.collapsed .divider {
  width: 100%;
  display: block;
  background: var(--divider-bg);
  height: 2px;
  margin: 0.5rem 0;
}
                              /* _LoginPartial sidebar profile */
.sidebar__profile{
  display: flex;
  padding: 0.5rem;
  align-items: center;
  gap: 0.75rem;
  flex-direction: row;
  color: var(--text-link);
  overflow: hidden;
  width: 260px;
  min-height: 4rem;
  margin-top: auto;
  position: relative;
  border-radius: 8px;
}

.avatar__wrapper {
  position: relative;
  display: flex;
}

.avatar {
  display: block;
  min-height: 46px; 
  width: 46px; 
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  border: 1px solid rgb(215, 210, 210);
}

.avatar__name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  white-space: nowrap;
}

.user-name {
  font-weight: 600;
  text-align: left;
  color: var(--text-link);
}

.email {
  color: var(--text-link);
  font-size: 0.8rem;
}

.menu {
  cursor: pointer;
  fill: var(--text-link); 
}

.sidebar__profile .menu:hover {
  border-radius: 8px;
  background: #eaeaea;
}

.online__status {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  background-color: #28a745; /* Online status color */
  border: 2px solid #fff;
  border-radius: 50%;
}

                                      /*  main  */
#main {
margin-right: auto;
margin-left: auto;
flex: 1; /* Phần nội dung sẽ chiếm hết không gian còn lại */
padding-left: 260px; /* Padding cho phần nội dung */
overflow: hidden;
padding: 40px;
}
